extends ../layout
block content

  .container.center
    h2 Dashboard

  div.container
    h3 Current Latest 2 Firmwares for All Your Devices

  if !devices || devices.length == 0
    div.container.center
      h4 You are not following any devices, maybe change that?
  else
    each device in devices
      div.container
        h4(style="text-align: left"): a(href="/"+device.Manufacturer.slug+"/"+device.slug)= device.Manufacturer.name + " " + device.name
      each version in device.Versions
        div.container.flexContainer(style="width: 100%")
          div.flexColumn.version
            p= version.version
          div.flexColumn.date
            p= moment(version.date).format('YYYY-MM-DD')
          div.flexColumn.links
            a(href=version.url, target="_blank") Release Notes